<p id="notice"><%= notice %></p>

<% @party.candidates.each do |c| %>
  <%= link_to c.name, c %>
<% end %>

<p>
  <b>Name:</b>
  <%= @party.name %>
</p>

<p>
  <b>Homepage:</b>
  <%= @party.homepage %>
</p>

<p>
  <b>Phone:</b>
  <%= @party.phone %>
</p>


<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
