<h1>Listing offices</h1>

<table>
<% @offices.each do |office| %>
  <tr>
		<td><%= office.name %> of <%= link_to_name office.organization %></td>
	</tr>
	<tr>
    <td><%= office.description %></td>
    <td><%= office.homepage %></td>
    <td><%= office.phone %></td>
    <td><%= link_to 'Show', office %></td>
    <td><%= link_to 'Edit', edit_office_path(office) %></td>
    <td><%= link_to 'Destroy', office, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Office', new_office_path %>
