<h1>Listing offices</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Name</th>
    <th>Description</th>
    <th>Homepage</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.organization %></td>
    <td><%= office.name %></td>
    <td><%= office.description %></td>
    <td><%= office.homepage %></td>
    <td><%= office.phone %></td>
    <td><%= link_to 'Show', office %></td>
    <td><%= link_to 'Edit', edit_office_path(office) %></td>
    <td><%= link_to 'Destroy', office, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Office', new_office_path %>
