<p id="notice"><%= notice %></p>

<% @office.elections.each do |e| %>
  <%= link_to e.end, e %>
<% end %>

<p>
  <b>Organization:</b>
  <%= link_to @office.organization.name, @office.organization %>
</p>

<p>
  <b>Name:</b>
  <%= @office.name %>
</p>

<p>
  <b>Description:</b>
  <%= @office.description %>
</p>

<p>
  <b>Homepage:</b>
  <%= @office.homepage %>
</p>

<p>
  <b>Phone:</b>
  <%= @office.phone %>
</p>


<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
