<p id="notice"><%= notice %></p>
<h1>
  <%= link_to @office.organization.name, @office.organization %>
</h1>
<p>
  <b><%= @office.name %></b>
</p>

<% @office.elections.each do |e| %>
  <%= link_to "Election ending #{e.end_date.strftime("%B %e")}", e %>
<% end %>



<p>
  <%= @office.description %>
</p>

<p>
  <%= @office.homepage %>
</p>

<p>
  <%= @office.phone %>
</p>
