<h1>Listing issue_stances</h1>

<table>
  <tr>
    <th>Issue</th>
    <th>Stance</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issue_stances.each do |issue_stance| %>
  <tr>
    <td><%= link_to_name issue_stance.issue %></td>
    <td><%= link_to_name issue_stance.stance %></td>
    <td><%= issue_stance.description %></td>
    <td><%= link_to 'Show', issue_stance %></td>
    <td><%= link_to 'Edit', edit_issue_stance_path(issue_stance) %></td>
    <td><%= link_to 'Destroy', issue_stance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue stance', new_issue_stance_path %>
