<h1>Listing elections</h1>

<table>
  <tr>
    <th>Office</th>
    <th>Started?</th>
    <th>Ends</th>
    <th>Supervisor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elections.each do |election| %>
  <tr>
    <td><%= link_to_name election.office, 'name_organization' %></td>
    <td><%= election.start < Time.now %></td>
    <td><%= election.end.strftime("%b %d") %></td>
    <td><%= election.supervisor %></td>
    <td><%= link_to 'Show', election %></td>
    <td><%= link_to 'Edit', edit_election_path(election) %></td>
    <td><%= link_to 'Destroy', election, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Election', new_election_path %>
