<p id="notice"><%= notice %></p>

<% @election.candidates.each do |c| %>
  <%= link_to c.name, c %>
<% end %>

<p>
  <b>Office:</b>
  <%= link_to @election.office.name, @election.office %> of <%= link_to @election.organization.name, @election.organization %>
</p>

<p>
  <b>Starts:</b>
  <%= @election.start.strftime("%b %d, %Y") %>
</p>

<p>
  <b>Votes counted on:</b>
  <%= @election.end.strftime("%b %d, %Y") %>
</p>

<p>
  <b>Supervisor:</b>
  <%= @election.supervisor %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
