<p id="notice"><%= notice %></p>

<p>
  <b>Election:</b>
  <%= @candidate.election %>
</p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Party:</b>
  <%= @candidate.party %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
