<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Homepage:</b>
  <%= @organization.homepage %>
</p>

<p>
  <b>Phone:</b>
  <%= @organization.phone %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
