<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>

<h2>offices and elections</h2>

<% @organization.offices.each do |office| %>
  <%= link_to office.name, office %>
  <%= div_for office, :elections do %>
	  <% office.elections.each do |election| %>
	    <%= link_to election.end.strftime("%b %Y"), election %>
	    <h3>candidates</h3>
	    <% election.candidates.each do |candidate| %>
	      <%= link_to candidate.name, candidate %>
	    <% end %>
		<% end %>
  <% end %>
<% end %>

<p>
  <%= link_to @organization.homepage, @organization.homepage if @organization.homepage? %>
</p>

<p>
  <%= @organization.phone %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
