<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>

<h2>offices and elections</h2>

<% @organization.offices.each do |office| %>
  <b><%= link_to office.name, office %></b>
  <%= div_for office, :elections do %>
	  <% office.elections.each do |election| %>
	    <%= link_to election.end_date.strftime("%b %Y"), election %>
	    <h3>candidates</h3>
	    <% election.candidates.each do |candidate| %>
	      <%= link_to candidate.name, candidate %>
	    <% end %>
		<% end %>
  <% end %>
<% end %>

<p>
  <%= link_to @organization.homepage, @organization.homepage if @organization.homepage? %>
</p>

<p>
  <%= @organization.phone %>
</p>
