<%= form_for(@baseline) do |f| %>
  <% if @baseline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baseline.errors.count, "error") %> prohibited this baseline from being saved:</h2>

      <ul>
      <% @baseline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :election %><br />
    <%= f.text_field :election %>
  </div>
  <div class="field">
    <%= f.label :voter %><br />
    <%= f.text_field :voter %>
  </div>
  <div class="field">
    <%= f.label :current %><br />
    <%= f.check_box :current %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
